
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #08d0e4;
    overflow-x: hidden; 
}


.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #08d0e4;
    padding: 10px 175px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}


.nav-logo {
    display: flex;
    align-items: center;
    margin-right: 20px;
}


.nav-logo img {
    width: 150px;
    height: 150px;
}

.nav-logo img:hover {
    transform: scale(1.1);
}


.nav-logo-wrapper {
    position: relative;
}


.nav-logo-decor {
    position: absolute;
    top: 50%;
    left: 45%;
    width: 125px;
    height: 125px;
    background-size: contain;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
    animation: rotate 10s linear infinite;
    z-index: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

@keyframes rotate {
    from {
        transform: translate(-50%, -50%) rotate(0deg);
    }
    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.nav-logo-decor-mobile {
    position: absolute;
    top: 50%; left: 50%;
    width: 60px; 
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
    animation: rotate 10s linear infinite;
    z-index: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  }
  .nav-logo-wrapper-mobile {
    position: relative;
    width: 60px;
    height: 60px;
  }
  .nav-logo-mobile img {
    width: 60px; 
    height: 60px;
    position: relative;
    z-index: 1; 
  }
  


.nav-links {
    list-style: none;
    display: flex;
    gap: 75px;
    margin: 0;
    padding: 0;
}

.nav-links li {
    display: inline;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: #ffcc00;
}


.nav-icons {
    display: flex;
    align-items: center;
    gap: 15px;
}

.nav-icons img {
    width: 50px;
    height: 50px;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.nav-icons img:hover {
    transform: scale(1.1);
}


.nav-search a {
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
    transition: color 0.3s ease;
}

.nav-search a:hover {
    color: #ffcc00;
}


.home-button {
    position: relative;
    right: 0px;
}


#click-effect-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    overflow: hidden;
    z-index: 2147483647; 
}


.effect-logo {
    position: absolute;
    transition: transform 1s ease, opacity 1s ease;
    opacity: 1;
    z-index: 100000;
}


.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.hamburger div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 4px;
    transition: all 0.3s ease;
}


@media (max-width: 376px) {
    .navbar {
        padding: 25px;
        padding-bottom: 25px;
        left: -14px;
        justify-content: space-between;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #08d0e4;
        z-index: 999;
    }

    .nav-links li {
        text-align: center;
        margin: 10px 0;
    }

    .nav-links a {
        font-size: 1.2rem;
    }

    .nav-logo img {
        width: 80px;
        height: 80px;
    }

    .nav-logo-decor {
        width: 60px;
        height: 60px;
        left: 40px;
        top: 40px;
    }

    .hamburger {
        display: flex;
    }

    .nav-icons {
        position: absolute;
        top: -01px;
        left: 140px;
        width: 140px;
        height: 140px;
        justify-content: center;
        z-index: 999;
    }
}


@media (min-width: 377px) and (max-width: 395px) {
    .navbar {
        padding: 15px;
        justify-content: space-between;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #08d0e4;
        z-index: 999;
    }

    .nav-links li {
        text-align: center;
        margin: 10px 0;
    }

    .nav-links a {
        font-size: 1.2rem;
    }

    .nav-logo img {
        width: 90px;
        height: 90px;
    }

    .nav-logo-decor {
        width: 70px;
        height: 70px;
        left: 45px;
        top: 45px;
    }

    .hamburger {
        display: flex;
        z-index: 9999;
    }

    .nav-icons {
        position: absolute;
        top: 37px;
        left: 130px;
        width: 100%;
        justify-content: center;
        z-index: 999;
        margin-left: -105px;
        margin-right: 70px;
        padding-left:-100px;
    }
}


@media (min-width: 396px) and (max-width: 440px) {
    .navbar {
        padding: 10px;
        justify-content: space-between;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #08d0e4;
        z-index: 999;
    }

    .nav-links li {
        text-align: center;
        margin: 10px 0;
    }

    .nav-links a {
        font-size: 1.2rem;
    }

    .nav-logo img {
        width: 100px;
        height: 100px;
    }

    .nav-logo-decor {
        width: 80px;
        height: 80px;
        left: 50px;
        top: 50px;
    }

    .hamburger {
        display: flex;
        padding-right: 20px;
        z-index: 99999;
    }

    .nav-icons {
        position: absolute;
        top: 37px;
        left: 125px;
        width: 100%;
        justify-content: center;
        z-index: 999;
        margin-left: -105px;
        margin-right: 70px;
        padding-left:-100px;
    
    }
}


@media (min-width: 441px) and (max-width: 768px) {
    .navbar {
        padding: 10px;
        justify-content: space-between;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #08d0e4;
        z-index: 999;
    }

    .nav-links li {
        text-align: center;
        margin: 10px 0;
    }

    .nav-links a {
        font-size: 1.2rem;
    }

    .nav-logo img {
        width: 110px;
        height: 110px;
    }

    .nav-logo-decor {
        width: 90px;
        height: 90px;
        left: 55px;
        top: 55px;
    }

    .hamburger {
        display: flex;
    }

    .nav-icons {
        position: absolute;
        top: 120px;
        left: 0;
        width: 100%;
        justify-content: center;
        z-index: 999;
    }
}


@media (min-width: 769px) {
    .navbar {
        padding: 65px;
        justify-content: space-between;
        position: relative;
    }

    .nav-links {
        display: flex;
        flex-direction: row;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        background-color: transparent;
        z-index: auto;
    }

    .nav-links li {
        text-align: left;
        margin: 0 15px; 
    }

    .nav-links a {
        font-size: 1rem;
    }

    .nav-logo-wrapper {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav-logo {
        position: absolute;
        z-index: 1; 
    }

    .nav-logo img {
        width: 150px;
        height: 150px;
        margin-left: 350px;
    }

    .nav-logo-decor {
        position: absolute;
        width: 125px;
        height: 125px;
        z-index: 0; 
        margin-left: 165px;
    }

    .hamburger {
        display: none;
    }

    .nav-icons {
        position: static;
        justify-content: flex-end;
    }

    .nav-icons img {
        width: 70px; 
        height: 70px; 
    }

    .countdown-container {
        display: flex;
        position: absolute;
        top: 75%; 
        left: 50%;
        transform: translate(-52.6%, -100%);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        color: red;
        font-size: 1.3rem;
        font-weight: bold;
        margin-top: 20px;
    }
}


.navbar.active .nav-links {
    display: flex;
}

.navbar.active .nav-icons {
    display: flex;
}



.floating-gif {
    position: absolute;
    top: 276px;
    left: 530px;
    width: 348px;
    height: 348px;
    z-index: 10;
}


@media (max-width: 992px) {
    .floating-gif {
        top: 100px;
        left: 60px;
        width: 200px;
        height: 200px;
    }
}


@media (max-width: 600px) {
    .floating-gif {
        top: 100px;
        left: 20px;
        width: 150px;
        height: 150px;
    }
}




.burningflag {
    position: absolute;
    top: 965.3px;
    left: 80px;
    width: 400px;
    height: 400px;
    z-index: 10;
}


@media (max-width: 992px) {
    .burningflag {
        top: 200px;
        left: 100px;
        width: 250px;
        height: 250px;
    }
}


@media (max-width: 600px) {
    .burningflag {
        top: 150px;
        left: 50px;
        width: 150px;
        height: 150px;
    }
}



.large-image-section {
    position: relative;
    width: 100%;
    height: 100%; 
}


.large-background {
    background: url('desktop-final-new-main-background.png') no-repeat center top;
    background-size: cover;
    width: 100%;
    height: 6500px;
    display: block;
    margin: 0 auto;
}


.another-large-image {
    background: url('desktop-final-second-background.png') no-repeat center top;
    background-size: cover;
    position: absolute;
    top: 6600px;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 800px;
    z-index: 1;
}



@media (max-width: 600px) {

 
    .large-background,
    .another-large-image,
    .third-large-image {
        display: none;
    }

  
    .floating-gif {
        top: 515px;
        left: 170px;
        width: 150px;
        height: 150px;
    }
    .burningflag {
        top: 1745.5px; 
        left: 40px;
        width: 95px;
        height: 95px;
    }
}


.large-background-mobile,
.another-large-image-mobile,
.third-large-image-mobile {
    display: none;
}





@media (max-width: 376px) {
    .floating-gif {
        top: 518px;
        left: 170px;
        width: 150px;
        height: 150px;
    }

    .burningflag {
        top: 1747.8px;
        left: 40px;
        width: 95px;
        height: 95px;
    }
}


@media (min-width: 377px) and (max-width: 395px) {
    .floating-gif {
        top: 583px;
        left: 175px;
        width: 160px;
        height: 160px;
    }

    .burningflag {
        top: 1858.5px;
        left: 35px;
        width: 115px;
        height: 115px;
    }
}


@media (min-width: 396px) and (max-width: 440px) {
    .floating-gif {
        top: 764px;
        left: 200px;
        width: 170px;
        height: 170px;
    }

    .burningflag {
        top: 2158.3px;
        left: 40px;
        width: 120px;
        height: 120px;
    }
}


@media (min-width: 441px) and (max-width: 768px) {
    .floating-gif {
        top: 600px;
        left: 200px;
        width: 180px;
        height: 180px;
    }

    .burningflag {
        top: 2100px;
        left: 50px;
        width: 130px;
        height: 130px;
    }
}





   @media (max-width: 600px) {
    .large-background,
    .another-large-image {
        display: none; 
    }


    .mobile-bg-1 {
        background: url("mobile-new-main-background.png") no-repeat center top;
        background-size: cover; 
        width: 375px;
        height: 4000px;
        margin: 0 auto; 
    }

    
    .mobile-bg-2 {
        background: url("mobile-new-second-background.png") no-repeat center top;
        background-size: cover;
        width: 375px;
        height: 1250px;
        margin: 0 auto;
        padding-bottom: 0; 
    }

   
    .mobile-bg-3 {
        background: url("mobile-new-third-background.png") no-repeat center top;
        background-size: cover;
        width: 375px;
        height: 200px;
        margin: 60px auto 0 auto; 
        padding-top: 20px; 
  
        
    }
}

.icon-section {
   
    margin: 0rem auto;
    text-align: center;
    max-width: 1920px; 
    background-color: #000000; 
    z-index: 2147483646;
    position: relative; 
    top: 700px; 
 
}

.icon-grid {
    display: grid;
  
    grid-template-columns: repeat(auto-fill, minmax(150px, 2fr));

    gap: 0.2rem;
    row-gap: 0.1rem; 
    justify-items: center;
    align-items: center;
    
 
    max-width: 1200px;
    margin: 0 auto;
}

.icon-card {

    transition: transform 0.3s ease;
    max-width: 1;
    max-height: 100%; 
    z-index: 2147483647; 
}

.icon-card:hover {
    transform: scale(1.05);
}

.icon-card img {
    max-width: 250px;
    max-height: 250px;
    height: auto;
    object-fit: contain;
}




@media (max-width: 376px) {
    .icon-grid {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 0.1rem; 
    }

    .mobile-bg-1,
    .mobile-bg-2,
    .mobile-bg-3 {
        
        left: 0px; 
    }

    .mobile-bg-1 {
        padding-top: 1px;
        margin-top: 2px;
        top: 50px;
    }

    .mobile-bg-2 {
        padding-top: 15px;
        margin-top: 25px;
        top: 60px;
    }

    .mobile-bg-3 {
        padding: 0px;
        margin-top: 30px;
        top: 70px;
    }

    .icon-section {
        margin-top: 0px; 
        padding-top: 0px; 
        top: 0px; 
        overflow-x: hidden;
        margin-right: -0px;
    }

    .icon-card img {
        max-width: 170px;
        max-height: 170px;
        height: auto;
        object-fit: contain;
    }
}


@media (min-width: 378px) and (max-width: 395px) {
    .icon-grid {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 0.1rem; 
    }

    .mobile-bg-1,
    .mobile-bg-2,
    .mobile-bg-3 {
        transform: scale(1.0411);
        left: 15px; 
    }

    .mobile-bg-1 {
        padding-bottom: 15px;
        margin-top: 135px;
        margin-bottom: 10px;
        top: 60px;
    }

    .mobile-bg-2 {
        padding-right: 0px;
        margin-top: 130px;
        top: 70px;
    }

    .mobile-bg-3 {
      
        margin-top: 105px;
        padding-left: 0px;
        top: 80px;
    }

    .icon-section {
        margin-top: 0px; 
        padding: 0px; 
        top: 0px; 
    }

    .icon-card img {
        max-width: 170px;
        max-height: 170px;
        height: auto;
        object-fit: contain;
    }
}


@media (min-width: 396px) and (max-width: 440px) {
    .icon-grid {
        grid-template-columns: repeat(2, 1fr);
        row-gap: 0.5rem; 
    }

    .mobile-bg-1,
    .mobile-bg-2,
    .mobile-bg-3 {
        transform: scale(1.141);
        left: 00px; 
    }

    .mobile-bg-1 {
        padding: 0px;
        margin-top: 475px;
        margin-right: 0px;
        margin-left: 27.5px;
        top: 70px;
    }

    .mobile-bg-2 {
        padding: 0px;
        margin-top: 420px;
        margin-left: 23.5px;
        margin-right: 0px;
        top: 80px;
    }

    .mobile-bg-3 {
        
        margin-top: 200px;
        padding-left: 5px;
        margin-right: 0px;
        margin-left: 23px;
        top: 90px;
   

    }

    .icon-section {
        margin-top: 0px; 
        padding: 0px; 
        top: 0px; 
        left: 0px;
        width: 430px;
        
    }

    .icon-card img {
        max-width: 195px;
        max-height: 195px;
        height: auto;
        object-fit: contain;
    }
}


@media (min-width: 441px) and (max-width: 768px) {
    .icon-grid {
        grid-template-columns: repeat(3, 1fr);
        row-gap: 1rem; 
    }

    .mobile-bg-1,
    .mobile-bg-2,
    .mobile-bg-3 {
        transform: scale(1.25);
        left: 25px; 
    }

    .mobile-bg-1 {
        padding: 25px;
        margin-top: 35px;
        top: 80px;
    }

    .mobile-bg-2 {
        padding: 30px;
        margin-top: 40px;
        top: 90px;
    }

    .mobile-bg-3 {
        padding: 35px;
        margin-top: 45px;
        top: 100px;
    }

    .icon-section {
        margin-top: 70px; 
        padding: 25px; 
        top: 110px; 
    }
}


@media (min-width: 769px) {
    .icon-grid {
        grid-template-columns: repeat(5, 1fr);
        row-gap: 1.5rem; 
    }

    .mobile-bg-1,
    .mobile-bg-2,
    .mobile-bg-3 {
        transform: scale(1.25);
        left: 30px; 
    }

    .mobile-bg-1 {
        padding: 30px;
        margin-top: 40px;
        top: 90px;
    }

    .mobile-bg-2 {
        padding: 35px;
        margin-top: 45px;
        top: 100px;
    }

    .mobile-bg-3 {
        padding: 40px;
        margin-top: 20px;
        margin-bottom: 65px;
        top: 110px;
    }

    .icon-section {
        margin-top: 80px; 
        padding: 30px; 
        top: 250px; 
    }
}




.countdown-container {
    display: none; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: red;
    font-size: 1.2rem;
    font-weight: bold;
    margin-left: 20px;
}

.countdown-text {
    color: red;
    font-size: 1rem;
    margin-bottom: 5px;
}

.countdown-timer {
    color: red;
    font-size: 2rem; 
    font-weight: bold;
}


.countdown-container-mobile {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: red;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 20px 0;
}

@media (max-width: 376px) {
    .countdown-container-mobile {
        display: flex;
        position: absolute;
        top: -18px; 
        left: 110px; 
    }

    .countdown-timer {
        font-size: 1rem; 
    }
}

@media (min-width: 377px) and (max-width: 395px) {
    .countdown-container-mobile {
        display: flex;
        position: absolute;
        top: -70px; 
        left: 115px; 
    }
    .countdown-timer {
        font-size: 1rem; 
    }
}

@media (min-width: 396px) and (max-width: 440px) {
    .countdown-container-mobile {
        display: flex;
        position: absolute;
        top: -140px;
        left: 65px; 
    }
    .countdown-timer {
        font-size: 2rem; 
    }
}
@media (min-width: 441px) and (max-width: 768px) {
    .countdown-container-mobile {
        display: flex;
        position: absolute;
        top: 160px; 
        left: 50px;
    }
}

@media (min-width: 769px) {
    .countdown-container-mobile {
        display: none;
    }

    .countdown-container {
        display: flex;
    }
}

.navbar-mobile {
    display: none; 
    flex-direction: column;
    width: 100%;
    background-color: #08d0e4;
    position: relative;
  }
  
  @media (max-width: 600px) {
    .navbar { display: none !important; }
    .navbar-mobile { display: flex !important; }
  }
  
  .top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
  }
  .mobile-nav-icons img {
    width: 40px; height: 40px;
    transition: transform 0.3s ease;
  }
  .mobile-nav-icons img:hover {
    transform: scale(1.1);
  }
  
  .mobile-hamburger {
    display: flex;
    flex-direction: column;
    cursor: pointer;
  }
  .mobile-hamburger span {
    width: 25px; 
    height: 3px; 
    background-color: white;
    margin: 4px 0;
  }
  
  .mobile-nav-links {
    display: none; 
    flex-direction: column;
    margin: 0; padding: 0;
    list-style: none;
    border-top: 1px solid rgba(255,255,255,0.2);
  }
  .mobile-nav-links li {
    text-align: center;
    margin: 10px 0;
  }
  .mobile-nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 1.2rem;
  }
  
  .navbar-mobile.active .mobile-nav-links {
    display: flex;
  }
  .mobile-presale-countdown .countdown-text,
  .mobile-presale-countdown #countdown-mobile-presale {
    color: black; 
    
  }
  
  .navbar-mobile {
    position: relative; 
    
  }
  
  .navbar-mobile.active .mobile-nav-links {
    display: flex;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    height: 470px;      
    background-color: #08d0e4;
    z-index: 9999;
    flex-direction: column;
    margin: 0; padding: 0;
    overflow-y: auto;    
  }
  

  .nav-logo-mobile img {
    width: 60px;
    height: 60px;
    position: relative;
    z-index: 1; 
}

.nav-logo-decor-mobile {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 60px;
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
    animation: rotate 10s linear infinite;
    z-index: 0;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.countdown-container-mobile {
    display: none; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: red;
    font-size: 1.2rem;
    font-weight: bold;
    margin: 20px 0;
}

.mobile-hamburger {
    margin-right: 10px; 
    position: absolute;
    z-index: 999999;
}

.mobile-nav-icons {
    gap: 10px;
    position: absolute; 
    margin-right: 5px;
    height: 100px;
    width: 180px;
}

.mobile-nav-icons img {
    width: 150px; 
    height: 250px; 
}


@media (max-width: 376px) {
    .nav-logo-wrapper-mobile {
        width: 75px;  
        height: 75px;
        margin-left: 5px;
        left: 10px;
    }

    .nav-logo-mobile img {
        width: 105px;
        height: 105px;
        top: -15px;
        left: -13px;
    }

    .nav-logo-decor-mobile {
        width: 75px;
        height: 75px;
    }

    .countdown-container-mobile {
        display: flex;
        position: absolute;
        top: 70px; 
        left: 205px; 
    }

    .mobile-hamburger {
        margin-right: 5px; 
        right: 25px;
     
    }

    .mobile-nav-icons {
        gap: 5px;
        width: 170px;
        height: 120px;
        top: 22px !important;
        left: 130px;
    }

    .mobile-nav-icons img {
        width: 50px; 
        height: 50px; 
        top: -50px;
    }

    .floating-gif {
        top: 487px; 
        left: 170px; 
        width: 150px; 
        height: 150px; 
    }

    .burningflag {
        top: 1115px; 
        left: 20px; 
        width: 90px; 
        height: 90px; 
    }
}


@media (min-width: 377px) and (max-width: 395px) {
    .nav-logo-wrapper-mobile {
        width: 55px;  
        height: 55px;
        margin-left: 8px;
        right: -20px;
        top: 10px;
    }

    .nav-logo-mobile img {
        width: 105px;
        height: 105px;
        top: -25px;
        left: -25px;
        
    }

    .nav-logo-decor-mobile {
        width: 70px;
        height: 70px;
    }

    .countdown-container-mobile {
        display: flex;
        position: absolute;
        top: -40px; 
        left: 200px; 
    }

    .mobile-hamburger {
        margin-right: 8px; 
        left: 340px;
        top: 30px;
    }

    .mobile-nav-icons {
        gap: 5px;
        width: 170px;
        height: 120px;
        top: 22px !important;
        left: 140px;
    }

    .mobile-nav-icons img {
        width: 50px; 
        height: 50px; 
        top: -50px;
    }

    .floating-gif {
        top: 533px; 
        left: 175px; 
        width: 160px; 
        height: 160px; 
    }

    .burningflag {
        top: 1196px; 
        left: 150px; 
        width: 100px; 
        height: 100px; 
    }
}


@media (min-width: 396px) and (max-width: 440px) {
    .nav-logo-wrapper-mobile {
        width: 55px;  
        height: 55px;
        margin-left: 8px;
        right: -20px;
        top: 10px;
    }

    .nav-logo-mobile img {
        width: 105px;
        height: 105px;
        top: -25px;
        left: -25px;
        
    }

    .nav-logo-decor-mobile {
        width: 70px;
        height: 70px;
    }

    .countdown-container-mobile {
        display: flex;
        position: absolute;
        top: -120px; 
        left: 70px; 
    }

    .mobile-hamburger {
        margin-right: 8px; 
        left: 360px;
        top: 30px;
    }

    .mobile-nav-icons {
        gap: 5px;
        width: 195px;
        height: 120px;
        top: 18px !important;
        left: 140px;
    }

    .mobile-nav-icons img {
        width: 60px; 
        height: 60px; 
        top: -50px;
    }

    .floating-gif {
        top: 708px; 
        left: 185px; 
        width: 180px; 
        height: 180px; 
    }

    .burningflag {
        top: 1442px; 
        left: 150px; 
        width: 100px; 
        height: 100px; 
    }
}


@media (min-width: 441px) and (max-width: 768px) {
    .nav-logo-wrapper-mobile {
        width: 65px;
        height: 65px;
        margin-left: 15px;
    }

    .nav-logo-mobile img {
        width: 65px;
        height: 65px;
    }

    .nav-logo-decor-mobile {
        width: 65px;
        height: 65px;
    }

    .countdown-container-mobile {
        display: flex;
        position: absolute;
        top: 160px; 
        left: 50px; 
    }

    .mobile-hamburger {
        margin-right: 15px;
    }

    .mobile-nav-icons {
        gap: 15px;
    
    }

    .mobile-nav-icons img {
        width: 45px; 
        height: 45px; 
    }

    .floating-gif {
        top: 40px; 
        left: 40px; 
        width: 110px; 
        height: 110px; 
    }

    .burningflag {
        top: 50px; 
        left: 50px; 
        width: 120px; 
        height: 120px; 
    }
}




.footer {
   
      
    background-color: #000000; 
  
    color: #fff;
    padding: 0px; 
    box-sizing: border-box;
    text-align: center; 

  }

  @media (min-width: 1285px) {


    footer.footer {
      position: relative !important;
      top: auto !important;
      left: auto !important;
      margin: 0 !important;
      width: 100% !important;
      height: 320px !important;
      overflow: hidden !important;
      background: none !important;  
    }
  
    .footer-container {
      position: relative !important;
      width: 100% !important;
      height: 100% !important; 
      margin: 0 auto !important;
      text-align: center !important;
    }
  

    .footer-background {
      position: absolute !important;
      background-color: #000;
      top: 0 !important;
      left: 0 !important;
      width: 100% !important;
      height: 100% !important; 
      z-index: 23213232;
      margin: 0 !important;
      padding: 0 !important;
      object-fit: cover !important; 

    }
  

    .footer-links {
      position: absolute !important;
      z-index: 42424242;
      bottom: 170px;
      left: 50% !important;
      transform: translateX(-50%) !important;
      
      display: flex !important;
      gap: 150px !important;     
      list-style: none !important;
      margin: 0 !important;
      padding: 0 !important;
    }
    .footer-links li {
      display: inline-block !important;
      margin: 0 !important;
      padding: 0 !important;
    }
    .footer-links a {
      text-decoration: none !important;
      color: white !important;
      font-size: 1rem !important;
      font-weight: bold !important;
    }
    .footer-links a:hover {
      color: #ffcc00 !important;
    }
  

    .footer-disclaimer {
      position: absolute !important;
      z-index: 3 !important;
      bottom: 0 !important;
      left: 50% !important;
      transform: translateX(-50%) !important;
  
      width: 100%!important;       
      max-width: 1920px !important; 
      margin: 0 !important;
      padding: 10px !important;
      box-sizing: border-box !important;
  
     
      color: #fff !important;
      height: auto !important;
      overflow: visible !important;
      text-align: center !important;
      z-index: 312313213 !important;
    }
  
    .footer-disclaimer p {
      margin: 0 !important;
      padding: 0 !important;
      color: rgb(245, 248, 55) !important;
      height: auto !important;
      font-size: 0.8rem;
      z-index: 312313213;
    }
  

    .third-large-image {

      position: relative !important; 
      top: auto !important;
      left: auto !important;
  
      width: 100% !important;
      height: 800px !important;  
      margin: 200px 0 0 0 !important; 
      z-index: 1000000;
  

      background: url('desktop-final-third-background.png') 
                  no-repeat center top !important;
      background-size: cover !important;
    }
  
    .icon-section {
        margin-top: 320px;
      }
      .floating-gif {
        width: 320px;
        height: 320px;
        top: 296px;
        left: 530px;
        position: absolute !important; 
        z-index: 100000 !important;
    }

    .burningflag {
        width:300px;
        height: 300px;
        top: 1055px;
        left: 50px !important;     
        position: absolute !important; 
        z-index: 100000 !important; 
    }

}
  
  
  

@media (max-width: 1300px) {
    .footer {
        background-color: #000000;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin-bottom: 0; 
        height: auto;
    }

    .footer-background {
        display: none; 
    }

    .footer-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px; 
        padding: 0; 
        margin: 0; 
        position: static; 
    }

    .footer-links li {
        display: block;
    }

    .footer-links a {
        color: white;
        text-align: center;

        max-width: 200px;
        width: 100%;
    }

    .footer-disclaimer {
        color: white;
        font-size: 0.8rem;
        margin-top: 0; 
        text-align: center;
        padding: 10px 20px; 
        width: 100%;
        box-sizing: border-box; 
        position: relative; 
    }


.icon-section {
    margin-top: 120px; 
    display: flex;
    justify-content: center;
    gap: 10px; 
}
}


@media (min-width: 601px) and (max-width: 809px) {
    .navbar {
        padding: 20px 40px;
        justify-content: space-between;
        position: relative;
    }
    .nav-logo-wrapper {
        display: flex;
        position: absolute;
        top: 4px;
        z-index: 100500;
    }
    .nav-logo-decor {
        width: 55px;
        height: 55px;
        left: 45px;
        top: 50px;
        z-index: 100500;
    }
    .nav-logo img {
        width: 90px; 
        height: 90px;
        z-index: 10005050;
        
    }
    .nav-links {
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: center;
        list-style: none;
        left: 70px;
        top: 30px;
       
        
    }
    .nav-icons {
        display: flex;
        gap: 15px;
        left: 15px;
        top: 100px;
        
    }

    .countdown-container {
        color: #fff;
        text-align: center;
        margin: 0px;
        z-index: 500000;
        display: flex;
        width: 100%;
        height: 100%;
        margin-top: 150px;
        margin-left: 250px;
    }

    .floating-gif {
        position: absolute;
        top: 793px;
        left: 370px;
        height: 200px;
        width: 200px;
    }
    .burningflag {
        position: absolute;
        top: 1633px;
        left: 40px;
    }

 
    .large-background,
    .another-large-image,
    .third-large-image,
    .mobile-bg-1,
    .mobile-bg-2,
    .mobile-bg-3,
    .footer-background {
        display: none !important;
    }


    .tablet-bg-1, .tablet-bg-2, .tablet-bg-3 {
        display: block;
        margin: 0 auto;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .tablet-bg-1 {
        background-image: url("tablet-main-background.png");
        width: 768px;
        height: 5500px;
    }
    .tablet-bg-2 {
        background-image: url("tablet-second-background.png");
        width: 768px;
        height: 1750px;
    }
    .tablet-bg-3 {
        background-image: url("tablet-third-background.png");
        width: 768px;
        height: 350px;
    }


    .icon-section {
        margin-top: 0;
        top: 0;
        padding: 20px;
        position: static;
    }
    .icon-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        max-width: 768px;
        margin: 0 auto;
    }



    .footer {
        background-color: #000000;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0;
        margin-bottom: 0;
        height: auto; 
    }

    .footer-background {
        display: none;
    }

    .footer-links {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px; 
        padding: 0; 
        margin: 0;
        position: static; 
    }

    .footer-links li {
        display: block;
    }

    .footer-links a {
        color: white;
        text-align: center;
        max-width: 200px;
        width: 100%;
    }

.footer-disclaimer {
    color: white;
    font-size: 0.8rem;
    margin-bottom: -0px;
    text-align: center;
    padding: 10px 20px;
    width: 100%; 
    box-sizing: border-box; 
    position: relative; 
}

.footer-disclaimer p {
    margin: 0; 
    margin-top: -150px;
   
    padding: 0; 
    color: white; 
    display: block;
    visibility: visible; 
    width: 100%; 
    height: auto; 
}
}


@media (min-width: 810px) and (max-width: 1000px) {
    body {
        transform: scale(1.08);
        transform-origin: top center; 
        width: 100vw;
        overflow-x: hidden; 
    }

    .navbar {
        padding: 20px 40px;
        justify-content: space-between;
        position: relative;
    }
    .nav-logo-wrapper {
        display: flex;
        position: relative;
        top: -75px;
        left: -100px;
    }
    .nav-logo-decor {
        width: 75px; 
        height: 75px;
    }
    .nav-logo img {
        width: 150px;
        height: 150px;
    }
    .nav-links {
        display: flex;
        flex-direction: row;
        gap: 35px;
        justify-content: center;
        list-style: none;
        z-index: 5000000;
    }
    .nav-icons {
        display: flex;
        gap: 18px;
        margin-top: 0px;
        margin-bottom: 150px;
        z-index: 499999;
        margin-right: 30px;
    }
    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 5000000;
        height: 38px;
        width: 38px;
    }
    .hamburger div {
        width: 22px;
        height: 3px;
        background-color: white;
        margin: 3px 0;
        transition: all 0.3s ease;
    }

    .countdown-container {
        color: #fff;
        text-align: center;
        margin: 18px auto;
    }

    .floating-gif {
        position: absolute;
        top: 774px;
        left: 375px;
        width: 255px;
        height: 255px;
    }
    .burningflag {
        position: absolute;
        top: 1621px;
        left: 50px;
        width: 150px;
        height: 150px;
    }

 
    .large-background,
    .another-large-image,
    .third-large-image,
    .mobile-bg-1,
    .mobile-bg-2,
    .mobile-bg-3,
    .footer-background {
        display: none !important;
    }

   
    .tablet-bg-1, .tablet-bg-2, .tablet-bg-3 {
        display: block;
        margin: 0 auto;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .tablet-bg-1 {
        background-image: url("tablet-main-background.png");
        width: 768px;
        height: 5500px;
    }
    .tablet-bg-2 {
        background-image: url("tablet-second-background.png");
        width: 768px;
        height: 1750px;
    }
    .tablet-bg-3 {
        background-image: url("tablet-third-background.png");
        width: 768px;
        height: 350px;
    }

  
    .icon-section {
        margin-top: -50px;
        top: 0;
        padding-bottom: 20px;
        position: static;
    }
    .icon-grid {
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
        max-width: 768px;
        margin: 0 auto;
    }
}
.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row; 
    flex-wrap: nowrap; 
    justify-content: center;
    gap: 30px; 
    width: 100%; 
    height: auto; 
    margin-top: -10px;
   
}
.footer-links li {
    display: inline-block; 
    text-align: center; 
}

.footer-links a {
    text-decoration: none;
    color: white;
    font-size: 1rem;
    font-weight: bold;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    color: #ffcc00;
}
    .footer-disclaimer {
        color: white;
        font-size: 0.6rem;
        margin-top: 0; 
        text-align: center;
        padding: 10px 20px; 
        width: 100%; 
        box-sizing: border-box;
        position: relative; 
    }
    
    .footer-disclaimer p {
        margin: 0; 
        margin-top: 10px;
        margin-bottom: 330px;
        padding: 0; 
        color: rgb(245, 248, 55); 
        display: block; 
        visibility: visible; 
        width: 100%; 
        height: auto; 
    }
    

@media (min-width: 1001px) and (max-width: 1200px) {
    body {
        transform: scale(1.34);
        transform-origin: top center; 
        width: 100vw; 
        overflow-x: hidden; 
    }
    .navbar {
        padding: 20px 40px;
        justify-content: space-between;
        position: relative;
    }
    .nav-logo-wrapper {
        display: flex;
        position: relative;
        width: 50px;
        height: 50px;
    }
    .nav-logo-decor {
        width: 50px; 
        height: 50px;
        left: -10px;
        
    }
    .nav-logo {
        display: flex;
        left: -240px;
    }
    .nav-logo img {
        width: 90px; 
        height: 90px;
        left: -50px;
    }
    .nav-links {
        display: flex;
        flex-direction: row;
        gap: 5px;
        justify-content: center;
        list-style: none;
    }
    .nav-icons {
        display: flex;
        gap: 20px;
        top: 70px;
        height: 50;
        margin-bottom: -150px;
        margin-right: 150px;
    
    }
    .hamburger {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        z-index: 5000000;
        height: 40px;
        width: 40px;
    }
    .hamburger div {
        width: 25px;
        height: 3px;
        background-color: white;
        margin: 4px 0;
        transition: all 0.3s ease;
    }

    .countdown-container {
        color: #fff;
        text-align: center;
        margin: 20px auto;
        top: 200px;
        left: 210px;
        width: 120px;
        height: 120px;
    }

    .floating-gif {
        position: absolute;
        top: 621px;
        left: 497px;
        height: 220px;
        width: 220px;
    }
    .burningflag {
        position: absolute;
        top: 1426px;
        left: 130px;
        height: 175px;
        width: 175px;
    }

   
    .large-background,
    .another-large-image,
    .third-large-image,
    .mobile-bg-1,
    .mobile-bg-2,
    .mobile-bg-3,
    .footer-background {
        display: none !important;
    }

  
    .tablet-bg-1, .tablet-bg-2, .tablet-bg-3 {
        display: block;
        margin: 0 auto;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .tablet-bg-1 {
        background-image: url("tablet-main-background.png");
        width: 768px;
        height: 5500px;
    }
    .tablet-bg-2 {
        background-image: url("tablet-second-background.png");
        width: 768px;
        height: 1750px;
    }
    .tablet-bg-3 {
        background-image: url("tablet-third-background.png");
        width: 768px;
        height: 350px;
    }




.icon-section {
    margin-top: -50px;
    top: 0;
    padding-bottom: 20px;
    position: static;
}
.icon-grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    max-width: 768px;
    margin: 0 auto;
}

.footer-links {
list-style: none;
padding: 0;
margin: 0;
display: flex;
flex-direction: row; 
flex-wrap: nowrap; 
justify-content: center;
gap: 30px; 
width: 100%; 
height: auto; 
margin-top: -10px;

}
.footer-links li {
display: inline-block; 
text-align: center; 
}

.footer-links a {
text-decoration: none;
color: white;
font-size: 1rem;
font-weight: bold;
transition: color 0.3s ease;
}

.footer-links a:hover {
color: #ffcc00;
}
.footer-disclaimer {
    color: white;
    font-size: 0.6rem;
    margin-top: 0; 
    text-align: center;
    padding: 10px 20px; 
    width: 100%; 
    box-sizing: border-box; 
    position: relative; 
}

.footer-disclaimer p {
    margin: 0; 
    margin-top: 10px;
    margin-bottom: 450px;
    padding: 0; 
    color: rgb(245, 248, 55); 
    display: block; 
    visibility: visible; 
    width: 100%; 
    height: auto; 
}

}


   @media (max-width: 600px) {


    .footer {
      display: flex !important;
      flex-direction: column !important;
      align-items: center !important;
      justify-content: flex-start !important; 
      padding: 0 !important;
      margin: 0 !important;
      height: auto !important; 
      background: #000 !important; 
    }
  

    .footer-background {
      display: none !important;
    }
  
  
    .footer-links {
      display: flex !important;
      flex-direction: column !important;
      align-items: center !important;
      gap: 10px !important; 
      list-style: none !important;
      margin: 10px 0 !important;
      padding: 0 !important;
      position: static !important; 
      width: auto !important;
    }
    .footer-links li {
      display: block !important; 
      width: 100% !important;
      text-align: center !important;
    }
    .footer-links a {
      text-decoration: none !important;
      color: white !important;
      font-size: 1rem !important;
      font-weight: bold !important;
    }
  
 
    .footer-disclaimer {
      position: static !important;  
      width: 100% !important;
      margin: 0 auto !important;
      padding: 10px 20px !important;
      box-sizing: border-box !important;
      color: #fff !important;
      text-align: center !important;
      font-size: 0.8rem !important;
      background-color: #000 !important;
    }
    .footer-disclaimer p {
      margin: 0 !important;
      padding: 0 !important;
      color: rgb(245, 248, 55) !important; 
      line-height: 1.4 !important; 
    }

  .icon-section {
    margin-top: -20px;
  }
}

.mobile-nav-icons a {
    text-decoration: none; 
  }
  
